body,*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
body>* {
    padding: 10px 10px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 410px;
}
.bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

h1 {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 30px;
}
h2,p {
    padding: 20px 10px 0 10px ;
}
.part1,
.part2,
.part3
 {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
}
.part3 {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 850px;
}
.part3 ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 15px 0;

}

.part3  a {
    background-color: white;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 25px;
    margin: 0 20px ;
}
